body {
    background-color: black;
    color: white;
    font-family: 'Dosis', sans-serif;
    font-family: 'Kings', cursive;
    font-family: 'Lora', serif;
    background-image: url("../img/7.jpg");
    height: auto;
    width: auto;

}

.titre {
    color: orangered;

}

.soustitre {
    color: gray;
}

.title {
    color: orangered;
}

button:active {
    box-shadow: 0 1px white;
    transform: translateY(3px);
}

.header {
    background-image: url("../img/4.jpg");
    height: 10rem;
}